body {
    padding: 20px;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

caption {
    caption-side: bottom;
    line-height: 3;
}

button,
input[type="radio"] {
    cursor: pointer;
}

input[type="radio"] {
    margin: 0px .50em;
}

button.close-btn {
    position: absolute;
    top: 0%;
    right: 0%;

    border: 1px solid;
}

button.close-btn:active {
    background-color: rgb(209, 209, 209);
}

button.btn.read-btn, button.btn.delete-btn {
    text-transform: capitalize;
    min-width: 7em;
}

dialog#add-book {
    width: 25%;
}

dialog#add-book p input {
    width: 100%;
}

fieldset {
    margin: 10px 0px;
}